//- index.pug
doctype html
html
  head
    title The Eastern Indies
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
              img(src="../static/logo.png")
            li #[a(href="/") HOME]
            li #[a(href="/") ABOUT]
            li #[a(href="/") ORIGINALS]
            li #[a(href="/") LIVE PERFORMANCES]
            li #[a(href="/") CONTACT US]
    
    section#introSection
        | THE EASTERN INDIES
    
    section#visionSection
        h2 Our Vision
        div.card
          h3 To provide full support to budding musicians
          div.card-img
              img(src="/static/concert.jpg")
        div.card
          h3 To launch a common online platform
          div.card-img
              img(src="/static/concert.jpg")
        div.card
          h3 To become India's biggest band
          div.card-img
              img(src="/static/concert.jpg")
    
    section#sponsorSection
        h2 Our Sponsors
        div#sponsors
          img(src="/static/pepsi.png", alt="Sponsor Image", class="spImage")
          img(src="/static/castrol.png", alt="Sponsor Image", class="spImage")
          img(src="/static/redbull.png", alt="Sponsor Image", class="spImage")
          img(src="/static/coke.png", alt="Sponsor Image", class="spImage")

    footer#footer
        | Copyright © 2021 The Eastern Indies | All rights reserved
    script
      include ../static/index.js